.right-side {
    .program-video {
        position: relative;

        .back-link {
            position: absolute;
            text-decoration: none;
            color: black;
        }
        .menu-title {
            position: absolute;
            right: 0;
            cursor: pointer;

            &__name {
                display: contents;
            }
        }
        .menu-icon {
            margin-left: 0.7rem;
        }

        &-header {
            &__img {
                background-image: url("/src/images/proga-faded.png");
                background-position: center;
                background-size: cover;
                min-width: 50px;
                min-height: 50px;
                border-radius: 50%;
            }

            &__theme {
            }

            &__title {
                h3 {
                    font-size: 1.575rem;
                    letter-spacing: 1.4px;
                }
            }

            &__number {
            }
        }
    }

    .video-container {
        padding-right: 5rem;
        padding-left: 5rem;
        margin-top: 2rem;

        .video-wrapper {
            position: relative;
            height: 0;
            padding-top: 56.25%;
            width:100%;

            iframe {
                position: absolute;
                top: 0; left: 0;
                border: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .like {
        font-size: 1.8rem;
        margin-right: 0.5rem;
    }


    .prev-next-video {
        padding-right: 5rem;
        padding-left: 5rem;

        .nav-video-link {
            background-color: #EEF3F8;
            width: 100%;
            padding: 2rem;
            cursor: pointer;

            &.prev-video {
                border-right: 1px solid rgba(196, 196, 196, 0.5);
            }
            &.next-video {
                border-left: 1px solid rgba(196, 196, 196, 0.5);
            }
        }

        .video-arrow {
            align-self: center;
        }

        &__title {
            letter-spacing: 0.2px;
        }
    }

    #menuIconMobile {
        display: none;
    }

}

// XL
@media (max-width: 1200px) {
    .right-side {
        .prev-next-video {
            .nav-video-link {
                padding: 1rem 2rem 0 2rem;
            }
        }
    }
}
// LG
@media (max-width: 992px) {
    .right-side {
        .program-video {
            .back-link {
                font-size: 0.8rem;
            }
            &-header {
                &__title {
                    h3 {
                        font-size: 1rem;
                    }
                }
            }
        }

        .video-container {
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }
}
// MD
@media (max-width: 768px) {
    .right-side {
        .program-video {
            &-header {
                &__title {
                    h3 {
                        font-size: 1.15rem;
                    }
                }
            }
        }

        .prev-next-video {
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }
}
// SM
@media (max-width: 576px) {
    .right-side {
        .program-video {
            &-header {
                &__title {
                    h3 {
                        font-size: 1rem;
                    }
                }
            }
        }

        .video-container {
            padding-right: 2rem;
            padding-left: 2rem;
        }

        .prev-next-video {
            padding-right: 5rem;
            padding-left: 5rem;

            .nav-video-link {
                padding-bottom: 1rem;
            }

            p {
                margin-bottom: 0;
            }
        }

        .like {
            font-size: 1rem;
        }
        .video-ended {
            font-size: 0.5rem;
        }

        #menuIconDesktop {
            display: none;
        }
        #menuIconMobile {
            display: block;
            position: absolute;
            right: 3rem;
            z-index: 1;
        }

    }
}


@media (max-width: 375px) {
    .right-side {
        .video-container {
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .prev-next-video {
            .nav-video-link {
                padding: 0.5rem;
            }
        }
        #menuIconMobile {
            right: 2rem;
        }
    }
}
