.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #FFFFFF;
}

.btn {
    padding: 10px 20px;

    &:focus {
        box-shadow: none;

        &:active {
            box-shadow: none;
        }
    }
}

.btn-primary {

    &.btn-inverted {
        color: $primary;
        background-color: #ffffff;

        &:hover, &:focus, &:active {
            background-color: #f3eeee;
        }
    }
}

