footer {
    background-color: #F8F8F8;
    padding: 50px 100px 100px;

    .footer {
        display: flex;

        .logo-image {
            width: 140px;
        }

        .contact-block {
            display: flex;

            a {
                text-decoration: none;
                color: black;
            }

            .phone-icon {
                width: 20px;
                align-self: center;
                opacity: 0.5;
            }
            .contact {
                font-size: 1.15rem;
            }
        }
    }

}


/* стили для MD */
@media (max-width: 992px) {
    footer {
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* стили для SM */
@media (max-width: 768px) {
    footer {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;

        .footer {
            .logo-image {
                width: 110px;
            }

            .contact-block {
                .phone-icon {
                    width: 15px;
                }
                .contact {
                    font-size: 1rem;
                }
            }
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {
    footer {
        padding: 30px;

        .footer {
            flex-direction: column;
            align-items: center;

            .logo-image {
                width: 140px;
                margin-bottom: 1rem;
            }

            .contact-block {
                margin-bottom: 1rem;
            }

        }
    }
}



@media (max-width: 374px) {
    footer {
        padding: 30px 15px;

        .footer {
            .logo-image {
                margin-bottom: 0.5rem;
            }
            .contact-block {
                .phone-icon {
                    display: none;
                }
            }
        }
    }
}
