.form-control:focus {
    box-shadow: none;
}


#questionModalContent {
    &.faded {
        background-color: rgba(0,0,0, 0.05);
        pointer-events: none;
    }

    #questionForm {
        position: relative;
    }

    .has_errors {
        border-color: red;
    }
}

.modal-response {
    padding: 30px 20px;
}

.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
