body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

.max-width-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.secondary-background {
    background-color: $secondary-background;
}

.text-subprimary {
    color: #D9A66F;
}


section {
    margin-top: 0;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.small-text {
    font-size: 14px;
}
.smallest-text {
    font-size: 12px;
}
.grey-text {
    color: #000;
    opacity: 0.4;
}


.main-title {
    font-size: 2.7rem;
    line-height: 2.7rem;
    font-weight: 600;
}
.title {
    font-weight: 600;
}

a, a:hover {
    text-decoration: none;
}



/* стили для XL */
@media (max-width: 1400px) {
    h1 {
        font-size: 2.2rem;
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .main-title {
        font-size: 2.2rem;
    }
    h1 {
        font-size: 2rem;
    }
}

/* стили для MD */
@media (max-width: 992px) {
    section {
        margin-top: 0;
        margin-bottom: 80px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .main-title {
        font-size: 1.9rem;
    }
}

/* стили для SM */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    section {
        margin-bottom: 60px;
    }
    .small-text {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
    section {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 40px;
    }
    .main-title {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: justify;
    }
    .small-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 374px) {
    h1 {
        font-size: 1rem;
    }
    section {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
    .main-title {
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: justify;
    }
    .small-text {
        font-size: 1rem;
    }
}
