.header-wrapper {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 100px;

    .logo-image {
        width: 140px;
    }

    .company-info {
        margin-left: 100px;
    }
}

