header {
    padding-left: 100px;
    padding-right: 100px;

    .header-wrapper {
        display: flex;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 100px;

        .logo-image {
            width: 140px;
        }

        .company-info {
            margin-left: 100px;
        }
    }
}



/* стили для XL */
@media (max-width: 1400px) {}

/* стили для LG */
@media (max-width: 1200px) {}

/* стили для MD */
@media (max-width: 992px) {
    header {
        padding-left: 60px;
        padding-right: 60px;

        .header-wrapper {
            .company-info {
                margin-left: 50px;
            }
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {
    header {
        .header-wrapper {
            margin-bottom: 50px;
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* стили для XS */
@media (max-width: 374px) {
    header {
        padding-left: 10px;
        padding-right: 10px;

        .header-wrapper {
            margin-bottom: 30px;
            padding-top: 20px;

            .logo-image {
                width: 130px;
            }
        }
    }
}
