ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;

    li {
        position: relative;
        margin-top: 10px;

        &.disc-left {
            margin-left: 20px;

            &:before {
                position: absolute;
                top: calc(50% - 2px);
                left: -20px;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $primary;
            }
        }

        &.disc-right {
            margin-right: 20px;

            &:after {
                position: absolute;
                top: calc(50% - 2px);
                right: -20px;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $primary;
            }
        }
    }
}

ol {
    li {
        padding-left: 10px;
        margin-bottom: 20px;
    }
}


/* стили для MD */
@media (max-width: 992px) {
    ul {
        li {
            margin-top: 4px;
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {
    ul {
        li {
            &.disc-right {
                margin-left: 20px;
                margin-right: 0;

                &:after {
                    top: calc(50% - 2px);
                    left: -20px;
                }
            }

        }
    }
}

/* стили для XS */
@media (max-width: 576px) {}
