.section-10 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

    .title {
        width: 50%;
    }
}



/* стили для SM */
@media (max-width: 768px) {
    .section-10 {
        flex-direction: column;

        .title {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {}
