.section-6 {
    .title {
        margin-bottom: 50px;
    }

    .section-stat {
        font-weight: 700;
    }

    .diagram-block {
        display: flex;
        justify-content: center;

        .prefix {
            text-align: right;
            margin-right: 100px;
            padding-top: 100px;
            .stat {
                color: #D9A66F;
            }

            .left-stat {
                position: relative;
                &:after {
                    position: absolute;
                    top: calc(50% - 1px);
                    right: -70px;
                    content: "";
                    width: 50px;
                    height: 2px;
                    background-color: #D4D4D4;
                }
            }
        }

        .diagram {
            img {
                width: 322px;
            }
        }

        .suffix {
            text-align: left;
            margin-left: 100px;
            padding-top: 100px;
            .stat {
                color: $primary;
            }

            .right-stat {
                position: relative;
                &:before {
                    position: absolute;
                    top: calc(50% - 1px);
                    left: -70px;
                    content: "";
                    width: 50px;
                    height: 2px;
                    background-color: #D4D4D4;
                }
            }
        }
    }

    .diagram-ps {
        margin-top: 30px;
    }
}


/* стили для XL */
@media (max-width: 1400px) {
    .section-6 {
        .diagram-block {
            .prefix {
                .stat {
                    font-size: 1.6rem;
                }
            }
            .diagram {
                img {
                    width: 300px;
                }
            }
            .suffix {
                .stat {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .section-6 {
        .diagram-block {
            .prefix {
                padding-top: 50px;

                .stat {
                    font-size: 1.3rem;
                }
            }
            .diagram {
                img {
                    width: 240px;
                }
            }
            .suffix {
                padding-top: 50px;

                .stat {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

/* стили для MD */
@media (max-width: 992px) {
    .section-6 {
        .diagram-block {
            .prefix {
                padding-top: 25px;
                margin-right: 70px;

                .stat {
                    font-size: 1.15rem;
                }
            }
            .diagram {
                img {
                    width: 175px;
                }
            }
            .suffix {
                padding-top: 25px;
                margin-left: 70px;

                .stat {
                    font-size: 1.15rem;
                }
            }
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {
    .section-6 {
        .diagram-block {
            .prefix {
                padding-top: 10px;
                margin-right: 40px;

                .stat {
                    font-size: 1rem;
                }
                .left-stat {
                    &:after {
                        right: -40px;
                        width: 30px;
                    }
                }
            }
            .diagram {
                img {
                    width: 125px;
                }
            }
            .suffix {
                padding-top: 10px;
                margin-left: 40px;

                .stat {
                    font-size: 1rem;
                }
                .right-stat {
                    &:before {
                        left: -40px;
                        width: 30px;
                    }
                }
            }
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {}
