.section-3 {
    .work-in-company {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .about-work-title {
            margin-bottom: 5rem;
        }

        .top-row, .bottom-row {
            display: flex;
            justify-content: space-around;

            .about-work-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33.33%;

                .icon-wrapper {
                    background-color: $primary;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                        width: 46px;
                        height: 46px;
                    }
                }
            }
        }

    }
}


/* стили для MD */
@media (max-width: 992px) {
    .section-3 {
        .work-in-company {
            .top-row, .bottom-row {
                .about-work-item {
                    width: 31%;

                    .icon-wrapper {
                        width: 70px;
                        height: 70px;

                        img {
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }

        }
    }
}


/* стили для XS */
@media (max-width: 576px) {
    .section-3 {
        .work-in-company {
            .about-work-title {
                margin-bottom: 2rem;
            }

            .top-row, .bottom-row {
                flex-wrap: wrap;

                .about-work-item {
                    width: 100%;

                    .icon-wrapper {
                        margin-bottom: 10px;
                    }

                    .about-work-descr {
                        margin-bottom: 1.5rem;
                    }
                }
            }

        }
    }
}
