.section-11 {
    width: 70%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 90px 50px 90px;
    background-color: $primary;
    border-radius: 0 0 30px 30px;
    color: #FFFFFF;
}



/* стили для XL */
@media (max-width: 1400px) {
    .section-11 {
        h2 {
            font-size: 1.5rem;
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .section-11 {
        width: 90%;
    }
}

/* стили для MD */
@media (max-width: 992px) {
    .section-11 {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* стили для SM */
@media (max-width: 768px) {}

/* стили для XS */
@media (max-width: 576px) {}
