.section-4 {
    .video-title {
        font-weight: 500;
        margin-bottom: 50px;
    }

    .video-wrapper {
        position: relative;
        width: 100%;

        .plyr-wrapper{
            width: 50%;
            margin-left: auto;
            margin-right: auto;

        }

        &:after {
            position: absolute;
            width: 100%;
            content: "";
            background-color: $primary;
            height: 30%;
            top: 35%;
            left: 0;
            z-index: -1;
        }

    }
}



/* стили для XL */
@media (max-width: 1400px) {
    .section-4 {
        .video-wrapper {
            .plyr-wrapper{
                width: 70%;
            }
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .section-4 {
        .video-wrapper {
            .plyr-wrapper{
                width: 80%;
            }
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {
    .section-4 {
        .video-wrapper {
            .plyr-wrapper{
                width: 95%;
            }
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {}
