.section-5 {
    padding-top: 100px;
    padding-bottom: 100px;

    h1, p {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    .section-descr {
        margin-top: 2rem;
    }

    .tasks-wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;

        .task-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .task-icon {
                width: 46px;
                height: 46px;
            }

            .task-title {
                font-size: 1.15rem;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}


/* стили для XL */
@media (max-width: 1400px) {
    .section-5 {
        h1, p {
            width: 70%;
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .section-5 {
        h1, p {
            width: 80%;
        }

        .tasks-wrapper {
            margin-top: 70px;
        }
    }
}

/* стили для MD */
@media (max-width: 992px) {
    .section-5 {
        padding-top: 70px;
        padding-bottom: 70px;

        h1, p {
            width: 90%;
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {
    .section-5 {
        padding-top: 70px;
        padding-bottom: 70px;

        .section-title, .section-descr {
            width: 100%;
        }

        .tasks-wrapper {
            .task-item {
                .task-text {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {
    .section-5 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
