.section-12 {
    display: flex;
    flex-direction: column;

    .section-title {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        text-align: center;

        p {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .feedback-videos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .video-wrapper {
            width: 30%;
        }
    }

    .slogan {
        font-weight: 500;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .factors-wrapper {
        display: flex;
        justify-content: space-between;

        .factor-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 15%;

            .factor-descr {
                margin-top: 33px;
                font-weight: 600;
                font-size: 1.15rem;
            }
        }
    }


    .plyr--video {
        border-radius: 10px;
    }
}



/* стили для XL */
@media (max-width: 1400px) {
    .section-12 {
        .factors-wrapper {
            .factor-item {
                width: 19%;
            }
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .section-12 {
        .section-title {
            width: 75%;
        }

        .feedback-videos {
            justify-content: space-around;
            .video-wrapper {
                width: 45%;
            }
        }

        .slogan {
            margin-top: 20px;
            margin-bottom: 60px;
        }

        .factors-wrapper {
            .factor-item {
                .factor-descr {
                    font-size: 1rem;
                }
            }
        }
    }
}

/* стили для MD */
@media (max-width: 992px) {
    .section-12 {
        .slogan {
            margin-top: 30px;
            margin-bottom: 40px;
        }

        .factors-wrapper {
            .factor-item {
                .factor-descr {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {}

/* стили для XS */
@media (max-width: 576px) {}
