.section-1 {
    display: flex;

    .left-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .right-side {
        width: 50%;

        img {
            max-width: 400px;
        }
    }
}

/* стили для XL */
@media (max-width: 1400px) {
    .section-1 {
        .left-side {
            width: 60%;
        }
        .right-side {
            width: 40%;
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {}

/* стили для MD */
@media (max-width: 992px) {
    .section-1 {
        .left-side {
            width: 70%;
        }
        .right-side {
            width: 30%;

            img {
                max-width: 220px;
            }
        }
    }
}

/* стили для SM */
@media (max-width: 768px) {
    .section-1 {
        .mobile-main-image {
            width: 300px;
        }
        .left-side {
            width: 100%;
        }
    }
}

/* стили для XS */
@media (max-width: 576px) {
    .section-1 {
        .mobile-main-image {
            width: 250px;
        }
    }
}


@media (max-width: 374px) {
    .section-1 {
        .left-side {
            .mobile-main-image {
                max-width: 220px;
            }
            .centered-flex-text {
                align-self: center;
            }
        }
    }
}
