.section-7 {
    .office-img {
        width: 100%;
        margin-bottom: 50px;
    }
    .have-no-title {
        font-size: 1.15rem;
        font-weight: 700;
    }
    .have-no-block {
        display: flex;

        .item {
            color: #EE3636;

            &:not(:last-child) {
                margin-right: 100px;
            }
        }
    }
    .office-ps {
        margin-top: 30px;
    }

}


/* стили для XL */
@media (max-width: 1400px) {
    .section-7 {
        .have-no-block {
            .item {
                font-size: 1.6rem;
            }
        }
    }
}

/* стили для LG */
@media (max-width: 1200px) {
    .section-7 {
        .have-no-block {
            .item {
                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
        }
        .office-ps {
            text-align: center;
        }
    }
}

/* стили для MD */
@media (max-width: 992px) {}

/* стили для SM */
@media (max-width: 768px) {}

/* стили для XS */
@media (max-width: 576px) {}
